<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EstatePorium|Home</title>



  <link href="{{url_for('static',filename='css/font-awesome.css')}}" rel="stylesheet">

  <link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/slick.css')}}">

  <link id="switcher" href="{{url_for('static',filename='css/default-theme.css')}}" rel="stylesheet">


  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body class="aa-price-range">


  <div id="aa-preloader-area">
    <div class="pulse"></div>
  </div>



  <header id="aa-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-area">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">

              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-right">
                  <a href="/signup"><button type="button" class="btn btn-secondary">Sign Up</button></a>

                  <a href="/login"> <button type="button" class="btn btn-secondary">Login</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand aa-logo" href="index.html"> Estate <span>Porium</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
            <li class="active"><a href="index.html">HOME</a></li>

            </li>
            <li><a href="price.html">Price Suggestion</a></li>
            </li>
            <li><a href="Community.html">Community Forum</a></li>
            <li><a href="#plotfinder.html">Plot Finder</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </section>



  <section id="aa-slider">
    <div class="aa-slider-area">

      <div class="aa-top-slider">

        <div class="aa-top-slider-single">
          <img src="static/img/main.jpg" alt="img">


        </div>
  </section>




  <section id="aa-advance-search">
    <div class="container">
      <div class="aa-advance-search-area">
        <section>
          <div>
            <h1">Price Estimator</h1>
          </div>
        </section>
        <form action="" , method="POST", class="form">

          <div class="aa-advance-search-top">
            <div class="row">
              
              <div class="col-md-4">
                <div class="aa-single-advance-search">
                  <input type="text" placeholder="Type Your Location", id="local"  name="local">
                </div>
              </div>

              <div class="col-md-2">
                <div class="aa-single-advance-search">
                  <select name="category" id="category">
                    <option value="Category" selected>Category</option>
                    <option value="Selling">Selling</option>
                    <option value="Rental">Rental</option>
                  </select>
                </div>
              </div>
              
              <div class="col-md-2">
                <div class="aa-single-advance-search">
                  <select name="city" id="city">
                    <option value="City" selected>City</option>
                    <option value="Islamabad">Islamabad</option>
                    <option value="Karachi">Karachi</option>
                    <option value="Lahore">Lahore</option>
                    <option value="Peshawar">Peshawar</option>
                    <option value="Quetta">Quetta</option>
                  </select>
                </div>
              </div>
              
              <div class="col-md-2">
                <div class="aa-single-advance-search">
                  <select name="type" id="type">
                    <option value="Type" selected>Type</option>
                    <option value="Residential">Residential</option>
                    <option value="Commercial">Commercial</option>                    
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="aa-single-advance-search">
                  <input style="background: aqua" class="aa-search-btn" type="submit" value="Search">
                </div>
              </div>
              <div class="col-md-4" style="margin-top: 10px;">
                <div class="aa-single-advance-search">
                  <input type="number" step="any" placeholder="Enter Area", id="area"  name="area">
                </div>
                <div>
                  <h1 style="color: darkblue;">Estimated Value is around {{ price }} </h1>
                </div>
            </div>

            <div class="col-md-2" style="margin-top: 10px;">
              <div class="aa-single-advance-search">
                <select name="area_unit" id="area_unit">
                  <option value="Area_Unit" selected>Area-Unit</option>
                  <option value="Marla">Marla</option>
                  <option value="Kanal">Kanal</option>                    
                </select>
              </div>
          </div>
        </form>
      </div>
    </div>
    </div>
    </div>
    </div>
  </section>

  <footer id="aa-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-area">
            <div class="row">
              <h3 style="background-color: antiquewhite;">This website is developed for Final Year Project of
                EstatePorium</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>

  <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>

  <script type="text/javascript" src="{{url_for('static',filename='js/slick.js')}}"></script>

  <script src="{{url_for('static',filename='js/custom.js')}}"></script>

</body>

</html>