<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EstatePorium| Properties Details</title>

 


  <link href="{{url_for('static',filename='css/font-awesome.css')}}" rel="stylesheet">

  <link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/slick.css')}}">

  <link id="switcher" href="{{url_for('static',filename='css/default-theme.css')}}" rel="stylesheet">


  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  


</head>

<body class="aa-price-range">
  <!-- Pre Loader -->
  <div id="aa-preloader-area">
    <div class="pulse"></div>
  </div>
  <!-- SCROLL TOP BUTTON -->
  <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->


  <!-- Start header section -->
  <header id="aa-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-area">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-left">
                  <div class="aa-telephone-no">
                    <span class="fa fa-phone"></span>
                    1-900-523-3564
                  </div>
                  <div class="aa-email hidden-xs">
                    <span class="fa fa-envelope-o"></span> info@markups.com
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-right">
                  <a href="register.html" class="aa-register">Register</a>
                  <a href="signin.html" class="aa-login">Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End header section -->
  <!-- Start menu section -->
  <section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand aa-logo" href="index.html">Estate<span>Porium</span></a>
          <!-- Image based logo -->
          <!-- <a class="navbar-brand aa-logo-img" href="index.html"><img src="img/logo.png" alt="logo"></a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
            <li><a href="index.html">HOME</a></li>
            <li><a href="gallery.html">price suggestion</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a href="404.html">404 PAGE</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <!-- End menu section -->

  <!-- Start Proerty header  -->

  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Properties Details</h2>
            <ol class="breadcrumb">
              <li><a href="#">HOME</a></li>
              <li class="active">APPARTMENT TITLE</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="aa-properties-content">
            <!-- Start properties content body -->
            <div class="aa-properties-details">
              <div class="aa-properties-details-img">
                <img src="img/slider/1.jpg" alt="img">
                <img src="img/slider/2.jpg" alt="img">
                <img src="img/slider/3.jpg" alt="img">
              </div>
              <div class="aa-properties-info">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, alias!</h2>
                <span class="aa-price">$65000</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatibus veniam non voluptate,
                  ipsa eius magni aliquid ratione sit, odio reprehenderit in quis repudiandae dolor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur, veritatis, ducimus in
                  aliquam magnam voluptatibus ullam libero fugiat temporibus at, aliquid explicabo placeat eligendi,
                  assumenda magni saepe eius consequuntur.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dicta aliquid, autem, cum,
                  impedit nostrum, rem molestias quisquam ab iure enim totam? Itaque esse ut adipisci officiis nulla
                  repellendus ratione dolore, iste ex doloribus tenetur eos provident quam quasi maxime.</p>
                <h4>Propery Features</h4>
                <ul>
                  <li>4 Bedroom</li>
                  <li>3 Baths</li>
                  <li>Kitchen</li>
                  <li>Air Condition</li>
                  <li>Belcony</li>
                  <li>Gym</li>
                  <li>Garden</li>
                  <li>CCTV</li>
                  <li>Children Play Ground</li>
                  <li>Comunity Center</li>
                  <li>Security System</li>
                </ul>
               
              </div>


            </div>
          </div>
        </div>
        <!-- / Properties  -->

        <!-- Footer -->
        <footer id="aa-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="aa-footer-area">
                  <div class="row">

                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="aa-footer-middle">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="aa-footer-right">
                        <a href="#">Home</a>
                        <a href="#">Support</a>
                        <a href="#">License</a>
                        <a href="#">FAQ</a>
                        <a href="#">Privacy & Term</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- / Footer -->

  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
  <!-- slick slider -->
  <script type="text/javascript" src="{{url_for('static',filename='js/slick.js')}}"></script>

  <!-- Custom js -->
  <script src="{{url_for('static',filename='js/custom.js')}}"></script>


</body>

</html>