<html>
    <head>

    </head>
    <body>
        <table>
            <tr>
                <th>image</th>
                <th>tittle</th>
                <th>price</th>
                <th>bed</th>
                <th>area</th>
                <th>location</th>
            </tr>
            <!-- {% for row in data %}
            <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.4}}</td>
                <td>{{row.5}}</td>
            </tr>
           {%  endfor %} -->
        </table>
        
    </body>
</html>